* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}

.float-left{
    float: left;
}

.float-right {
    float: right;
}

.clear-both:after {
    content: '';
    display: inline-block;
    clear: both;
}

#logo {
    width: 206px;
    height: 49px;
    overflow: hidden;
    margin-top: 11px;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



header {
    margin-top: 5px;
}

.bg-dark {
    background: #121212;
    color: white;
}

.bg-dark a {
    color: white;
    text-decoration: none;
}

.bg-light {
    background: #9a9a9a;
    color : #342a2a;
}

.bg-light a {
    color : #342a2a;
    text-decoration: none;
}

header nav {
    text-align: right;
    margin-top: 18px;
}

header nav > ul li {
    display: inline-block;
    text-transform: uppercase;
    padding:12px 10px 10px 10px;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

footer {
    background: #121212;
    color: white;
}

.body {
    min-height: calc(100vh - 123px);
}

footer div.footer-right {
    text-align: right;
}

footer div.footer-left {
    padding-top: 12px;
}

footer div.footer-right > ul li {
    display: inline-block;
    text-transform: uppercase;
    padding:12px 10px 10px 10px;
    text-align: center;
}

ul li>a{
    transition: 0.3s ease;
}

ul li>a:hover {
    color: orange;
}
