<form ng-submit="createNewPassword()">
    <div class="form-group">
        <label for="exampleInputEmail">Password</label>
        <input ng-model="password" type="password" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Your password">
        <p class="text-danger" ng-if="errors.password">{{errors.password[0]}}</p>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Confirm password</label>
        <input ng-model="password_confirmation" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirm Your password">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>