<div class="alert alert-success" role="alert" ng-if="message">
    {{ message }}
</div>

<form ng-submit="forgotPassword()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your email">
        <p class="text-danger" ng-if="errors.email">{{errors.email[0]}}</p>
    </div>
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>