<form ng-submit="login()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="user.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small ng-if="errors.email" id="emailHelp" class="form-text text-danger">{{ errors.email[0] }}</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="user.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <small ng-if="errors.password" id="" class="form-text text-danger">{{ errors.password[0] }}</small>
    </div>
    <p><a ui-sref="forgotPassword" class="text-dark">Forgot password</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>