<footer class="bg-light">
    <div class="container grid-container clear-both">
        <div class="footer-left float-left">
            Footer &copy; AngularJs
        </div>
        <div class="footer-right float-right">
            <ul>
                <li><a href="#">Link_1</a></li>
                <li><a href="#">Link_2</a></li>
                <li><a href="#">Link_3</a></li>
                <li><a href="#">Link_4</a></li>
                <li><a href="#">Link_5</a></li>
            </ul>
        </div>
    </div>
</footer>