<header class="bg-light">
    <div class="container clear-both">
        <div class="grid-container">
            <div id="logo" class="float-left">
                <a href="/">
                    <img src="\img\AngularJS_logo.png" alt="logo">
                </a>
            </div>

            <nav class="float-right">
                <ul >
                    <li><a ui-sref="light">Light</a></li>
                    <li><a ui-sref="/">Dark</a></li>
                    <li><a href="#">Link_3</a></li>
                    <li><a href="#">Link_4</a></li>
                    <li><a href="#">Link_5</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>